.wrapper {
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
}

.progress_line {
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 1rem, #cecece 1rem, #606060 2rem);
    background-size: 200% 100%;
    animation: gradient 10s linear infinite;
}

@keyframes gradient {
    100% {
        background-position: 100% 100%;
    }
}





.progress_line-bg {
    background-color: #ccc;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 10px;
    border-color: #1a1a1a;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
}
.cursor {
    background-color: #c4c4c4;
    height: 5%;
    width: 16px;
    margin-top: 10px;
    margin-left: 25px;
}
.temperature {
    background-size: contain;
    box-sizing: border-box;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 70px;
    margin-top: 10px;
}