#root {

  margin: 0;
  padding: 0;

  display: flex;
  max-width: 100vw;
  max-height: 100vh;
}


.App{

  margin: 0;
  padding: 0;

  display: flex;
  width: 100vw;
  height: 98vh;
  align-items: center;
  justify-content: space-around;
}



.star-view{
  background: #1a1a1a;
  width: 45vw;
  height: 85vh;

}
.components{
  width: 45vw;
  height: 85vh;
  border-style: solid;
  border-radius: 2px;
  border-color: #1a1a1a;
}

